*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --colorprimary:black;
  --colorsecondary:white;
  --coloraccent:rgb(12, 94, 194);
  --ff:"DM Sans","sans-serif"

}
body{
  padding-top: 60px;
}

@media (max-width: 768px) { /* Target mobile screens */
  .my-photo {
    max-height: 225px; /* Reduce image size on mobile */
    width:auto;
    height: 40vh;
    border-radius: 50%;
    margin-left: 1rem;
    margin-right: 3.5rem;
    margin-top: 3.5rem;
  }

  .navbar-home{
    position: fixed;
    justify-content: space-around;
    top:0px;
    width: 100%;
    z-index: 1000;
    border-bottom: none;
    background-color: var(--colorsecondary);  
    display: flex;
    flex-wrap: wrap ;
  }
  .navbar-home ul li a{
    color: var(--colorprimary);
    text-decoration: none;
    font-size:5px;
  transition: color 0.3s ease;}
  .navbar-home ul li a:hover{
    color: var(--coloraccent);
  }
  .navbar-home ul li{
    margin-right: 2px;
    margin-left: 0px;
  }
  
}

.navbar-home{
  position: fixed;
  display: flex;
  justify-content: space-around;
  top:0px;
  width: 100%;
  z-index: 1000;
  border-bottom: none;
  background-color: var(--colorsecondary);
  

}
.logos{
  display: flex;
  justify-content:center;
}
.logos a{
  padding: 0px;
  margin-right: 20px;
  margin-top: 10px;
}
.navbar-home ul {list-style: none;
display: flex;
justify-content:space-between;
align-items: center;
padding: 0;
}
.navbar-home ul li{
  margin-right: 50px;
  margin-left: 5px;
}
.navbar-home ul li a{
  color: var(--colorprimary);
  text-decoration: none;
  font-size:large;
transition: color 0.3s ease;}
.navbar-home ul li a:hover{
  color: var(--coloraccent);
}

svg{
  fill:var(--colorprimary);
  width:30px
}
svg:hover{
  fill:var(--coloraccent)
}
.my-photo{
  width:auto;
  height: 45vh;
  border-radius: 50%;
  margin-left: 1rem;
  margin-right: 3.5rem;
  margin-top: 3.5rem;
}

.home{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

}
#home:hover{
  box-shadow: 10px 0 20px 10px var(--coloraccent);
  transition: all .4s ease;

}
.about-me-text{
align-content: center;
padding: 0rem;
}

.about-me-text h4{
margin-top: 0.5rem;}
#experience-section h2{
  display: flex;
  justify-content: center;
  margin-top: 4rem;



}


.experience-grid h3{
display: flex;
justify-content: center;
}
.experience-grid h4{
  display: flex;
  justify-content: center;
  }
.experience-grid{
  display: flex;
  flex-direction: column;
  margin-left: 5.5rem;
justify-content:start;
 gap: 1.5rem;


}




#projects-section h2{
  display: flex; 
  justify-content:center;
  margin-bottom: 1rem;
}
#projects-section ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 0;
}

.project-icon {
  width: 300px;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 20px 10px var(--coloraccent);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 0 30px 15px var(--coloraccent);
}

#projects-section{
  margin-top: 7rem;
  margin-bottom: 16rem;
}


.logos2{
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
  gap: .5rem;
}
.logos2 svg{
  
    width:40px
  
}




html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

